<h1>{{phase.name}}</h1>
<div class="words-remaining">{{game.wordsInBowl.length}} words remaining.</div>
{{> game/timer}}

{{#if game.roundStarted}}
  <div id="current-word">{{game.currentWord.word}}</div>
  <a class="button correct">Correct</a>
  <a class="button skip">Skip</a>
{{else}}
  <p class="phase-instructions">{{phase.instructions}}</p>
  <a class="button start-round">Ready</a>
{{/if}}