<h1>Game Over</h1>
<hr>

{{> game/team_list}}

<hr>

<div class="game-over-stats">
  {{#with game.mostSkippedWord}}
    <div class="category">
      <div class="category-title">
        Most Skipped
      </div>
      <div class="category-content">
        <span class="word">{{word}}</span>
        by
        <span class="player-name">{{player.name}}</span>
        with {{skips}} skips.
      </div>
    </div>
  {{/with}}
  {{#with game.mostTimeSpentWord}}
    <div class="category">
      <div class="category-title">
        Most Time Spent
      </div>
      <div class="category-content">
        <span class="word">{{word}}</span>
        by
        <span class="player-name">{{player.name}}</span>
        with {{formatClock timeSpent}} seconds.
      </div>
    </div>
  {{/with}}
  {{#with game.leastTimeSpentWord}}
    <div class="category">
      <div class="category-title">
        Least Time Spent
      </div>
      <div class="category-content">
        <span class="word">{{word}}</span>
        by
        <span class="player-name">{{player.name}}</span>
        with {{formatClock timeSpent}} seconds.
      </div>
    </div>
  {{/with}}
</div>

<a class="button delete-button" href="{{getUrl game 'delete'}}">Delete Game</a>