<div id="team-list">
  {{#each teams}}
    <div
        class="team
          {{#if (and (not @root.game.gameEnded) (equal this.index @root.game.currentTeamIndex))}}current{{/if}}
          {{#if (not @root.game.gameStarted)}}joinable{{/if}}"
        data-team-id="{{@index}}">
      <h1>
        <div class="name">
          {{name}}
        </div>
        {{#if @root.game.gameStarted}}
          <div class="points">
            {{points}} points
          </div>
        {{/if}}
      </h1>
      <ol>
        {{#each this.players}}
          <li class="{{#if (and (not @root.game.gameEnded) (equal id @root.currentPlayer.id))}}current{{/if}}
            {{#if (lessThan words.length @root.game.wordsPerPlayer)}}waiting{{/if}}"
              data-player-id="{{id}}">
            {{this.name}}{{#if (equal id @root.player.id)}} (you){{/if}}
          </li>
        {{/each}}
      </ol>
    </div>
  {{/each}}

  {{#if (not game.gameStarted)}}
    <div class="team joinable new-team" data-team-id="{{teams.length}}">
      <h1>Create New Team...</h1>
    </div>
  {{/if}}
</div>