{{!--<meta http-equiv="refresh" content="2">--}}

{{#if (and (equal player.id currentPlayer.id) (greaterThan game.currentPhase 0))}}
  <h1>Your Turn</h1>
{{/if}}

<h1>{{phase.name}}</h1>
<p>{{phase.instructions}}</p>

<hr>

{{#if (and (equal player.id currentPlayer.id) (greaterThan game.currentPhase 0))}}
  {{#if ../game.started}}
    <div id="timer"></div>
    <div class="current-word">
      {{game.currentWord}}
    </div>
    <div class="round-actions">
      <a class="correct" href="/game/{{game._id}}/correct-word">CORRECT</a>
      <a class="skip" href="/game/{{game._id}}/skip-word">SKIP</a>
    </div>
  {{else}}
    <div class="round-actions">
      <a class="start" href="/game/{{game._id}}/start-round">START</a>
    </div>
  {{/if}}
{{/if}}

{{> team_list}}

<hr>

<div class="debug-list">
  {{#if (equal game.currentPhase 0)}}
    <a class="button" href="/game/{{game._id}}/next-phase">Start Game</a>
  {{/if}}
</div>

{{!--{{> debug_panel}}--}}

<hr>

<a href="/game/{{game._id}}/delete">Delete Game</a>
