<div id="game-page">
  {{#if (and game.gameStarted (not game.gameEnded)) }}
    {{#if (and (equal player.id currentPlayer.id) )}}
      <h1>{{phase.name}}</h1>

      <p class="phase-instructions">{{phase.instructions}}</p>
    {{else if (and (equal game.currentTeam player.team) game.gameStarted)}}
      <h1>Guess It</h1>
    {{else}}
      <h1>Wait...</h1>
    {{/if}}
  {{else}}
    <p class="phase-instructions">{{phase.instructions}}</p>
  {{/if}}

  {{#if (and game.roundStarted (not game.gameEnded))}}
    <div id="timer">{{formatClock (timeRemaining game)}}</div>
  {{/if}}

  {{#if (and (equal player.id currentPlayer.id) game.gameStarted)}}
    {{#if game.roundStarted}}
      <div class="current-word">
        {{game.currentWord}}
      </div>
      <a class="button correct">Correct</a>
      <a class="button skip">Skip</a>
    {{else}}
      <a class="button start-round">Ready</a>
      {{> team_list}}
    {{/if}}
  {{else}}
    <div>
      {{length game.wordsInBowl}} words in bowl
    </div>
    {{> team_list}}
  {{/if}}

  {{#if (equal game.currentPhase 0)}}
    <a id="start-game-button" class="button{{#if (not (readyToStart game))}} disabled{{/if}}">Start Game</a>
  {{/if}}

  {{!--{{> debug_panel}}--}}

</div>