<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/main.css"/>
  <script src="/vendor/socket.io-client/socket.io.js"></script>
  <script src="/vendor/handlebars/handlebars.runtime.js"></script>
  <script src="/vendor/jquery/dist/jquery.js"></script>
  <script src="/js/main.js"></script>

  <script>
    SALADBOWL = {};
    SALADBOWL.game = {{{jsObject game}}};
    SALADBOWL.player = {{{jsObject player}}};
    SALADBOWL.currentPlayer = {{{jsObject currentPlayer}}};
    SALADBOWL.serverTime = {{{jsObject serverTime}}};
  </script>
</head>
<body>
<main>
  <div id="main-content">
    {{{body}}}
  </div>
  <hr>
  <footer>
    <a href="/">Home</a>
    <a href="/how-to-play">How To Play</a>

    <div>
      <a href="https://github.com/simonbw/saladbowl-js">https://github.com/simonbw/saladbowl-js</a>
    </div>
  </footer>
</main>
</body>
</html>