<div id="team-list">
  {{#each teams}}
    <div
        class="team
          {{#if (isCurrentTeam @index ../game)}}current{{/if}}
          {{#if (equal ../game.currentPhase 0)}}joinable{{/if}}"
        data-team-id="{{@index}}">
      <h1>
        <div class="name">
          Team {{@index}}
        </div>
        {{#if (greaterThan ../game.currentPhase 0)}}
          <div class="points">
            {{points}} points
          </div>
        {{/if}}
      </h1>
      <ol>
        {{#each this.players}}
          <li class="{{#if (equal this.id ../../currentPlayer.id)}}current{{/if}}
            {{#if (lessThan (length this.words) ../../game.wordsPerPlayer)}}waiting{{/if}}"
              data-player-id="{{this.id}}">
            {{this.name}}{{#if (equal this.id ../../player.id)}} (you){{/if}}
          </li>
        {{/each}}
      </ol>
    </div>
  {{/each}}

  {{#if (equal game.currentPhase 0)}}
    <div class="team joinable new-team" data-team-id="{{length teams}}">
      <h1>Create New Team...</h1>
    </div>
  {{/if}}
</div>